html,
body {
  background-color: rgb(189, 206, 206);
  font-family: "Crimson Text", serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

img:hover {
  border: solid 1px darkviolet;
  box-shadow: 0px 0px 9px 3px #464343;
}

h1 {
  color: white;
  text-align: center;
  height: 120px;
  width: auto;
  background-color: darkslategray;
  border-radius: 15px;
  /* margin: 40px 0px 30px 0px; */
}

h2 {
  text-align: center;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

figure {
  text-align: left;
  width: 220px;
  height: auto;
}
figcaption {
  margin-top: 1rem;
}

main div {
  padding: 1rem 5rem 2rem 3rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.copyright {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
